.about {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: white;
  padding-top: 50px;
}

.right{
    width: 100%;
    height: 100%;
    display: flex;
}

.contactCard{
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactCardTop{
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contactCardTop > img{
    height: auto;
    width: 48%;
    border-radius: 50%;
    transform: rotateZ(-45deg)
}

.contactCardNameDiv{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15px;
}

.contactCardNameDiv > h2{
    font-family: 'Ibarra real Nova';
    font-size: 30px;
    color: #3c4043;
    /* text-decoration: underline; */
    /* color: rgb(0, 81, 255); */
}

.contactCardNameDiv > h1{
    font-family: 'Ibarra real Nova';
    font-size: 40px;
    /* color: grey */
    color: #3c4043;

    /* text-decoration: underline; */
    /* color: rgb(0, 81, 255); */
}

.contactCardNameDiv > button{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    background: rgb(72, 127, 245);
    border: 0;
    color: white;
    cursor: pointer;
}

.contactCardBottom{
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
}

.contactCardBottom > h1{
    /* font-family: 'Ibarra real Nova'; */
    font-size: 30px;
    color: #3c4043;
    font-weight: 300;
    text-decoration: underline;
    /* color: white; */
    /* color: grey; */
}

.contactCardBottom > p{
    width: 450px;
    /* border: 1px solid black; */
    text-align: left;
    /* font-family: 'Ibarra real Nova'; */
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    /* color: grey; */
    color: #3c4043;


}

.resumeHighlights{
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.headerDiv{
    height: 10%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerDiv > h1{
    /* font-family: 'Ibarra real Nova'; */
    /* text-decoration: underline; */
    width: 80%;
    text-align: center;
    /* color: grey; */
    font-weight: 300;
    font-size: 25px;
    /* color: rgb(0, 81, 255); */
    color: #3c4043;

}

.resumeHighlightContainer{
    height: 90%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll
}

.resumeHighlightContainer::-webkit-scrollbar{
    display: none;
}

/* .underline{
    width: 60%;
    height: 3px;
    background: black;
    margin-top: 10px;
} */


@media only screen and (max-width: 800px){

    .about {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  /* padding-top: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

.about::-webkit-scrollbar{
    display: none;
}

.right{
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactCard{
    height: 100%;
    width: 95%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactCardTop{
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* margin-top: 20px; */
}

.contactCardTop > img{
    height: auto;
    width: 45%;
    border-radius: 50%;
    transform: rotateZ(-45deg)
}

.contactCardNameDiv{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15px;
}

.contactCardNameDiv > h2{
    font-family: 'Ibarra real Nova';
    font-size: 30px;
    color: #3c4043;
    /* text-decoration: underline; */
    /* color: rgb(0, 81, 255); */
}

.contactCardNameDiv > h1{
    font-family: 'Ibarra real Nova';
    font-size: 40px;
    /* color: grey */
    color: #3c4043;

    /* text-decoration: underline; */
    /* color: rgb(0, 81, 255); */
}

.contactCardNameDiv > button{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    background: rgb(72, 127, 245);
    border: 0;
    color: white;
    cursor: pointer;

}

.contactCardBottom{
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 20px;
}

.contactCardBottom > h1{
    /* font-family: 'Ibarra real Nova'; */
    font-size: 30px;
    color: #3c4043;
    font-weight: 300;
    text-decoration: underline;
    /* color: white; */
    /* color: grey; */
}

.contactCardBottom > p{
    width: 95%;
    /* border: 1px solid black; */
    text-align: center;
    /* font-family: 'Ibarra real Nova'; */
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    /* color: grey; */
    color: #3c4043;


}

.resumeHighlights{
    height: 100%;
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.headerDiv{
    height: 10%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.headerDiv > h1{
    /* font-family: 'Ibarra real Nova'; */
    /* text-decoration: underline; */
    width: 80%;
    text-align: center;
    /* color: grey; */
    font-weight: 300;
    font-size: 25px;
    /* color: rgb(0, 81, 255); */
    color: #3c4043;

}

.resumeHighlightContainer{
    height: 90%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll
}

.resumeHighlightContainer::-webkit-scrollbar{
    display: none;
}

}



@media only screen and (max-width: 420px){

    .about {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  /* padding-top: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

.about::-webkit-scrollbar{
    display: none;
}

.right{
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactCard{
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactCardTop{
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contactCardTop > img{
    height: auto;
    width: 45%;
    border-radius: 50%;
    transform: rotateZ(-45deg)
}

.contactCardNameDiv{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15px;
}

.contactCardNameDiv > h2{
    font-family: 'Ibarra real Nova';
    font-size: 25px;
    color: #3c4043;
    /* text-decoration: underline; */
    /* color: rgb(0, 81, 255); */
}

.contactCardNameDiv > h1{
    font-family: 'Ibarra real Nova';
    font-size: 30px;
    /* color: grey */
    color: #3c4043;

    /* text-decoration: underline; */
    /* color: rgb(0, 81, 255); */
}

.contactCardNameDiv > button{
    width: 98%;
    height: 40px;
    margin-top: 20px;
    background: rgb(72, 127, 245);
    border: 0;
    font-size: auto;
    color: white;
    cursor: pointer;

}

.contactCardBottom{
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-left: 10px; */
    margin-top: 20px;
}

.contactCardBottom > h1{
    /* font-family: 'Ibarra real Nova'; */
    font-size: 30px;
    color: #3c4043;
    font-weight: 300;
    text-decoration: underline;
    /* color: white; */
    /* color: grey; */
}

.contactCardBottom > p{
    width: 95%;
    /* border: 1px solid black; */
    text-align: center;
    /* font-family: 'Ibarra real Nova'; */
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    /* color: grey; */
    color: #3c4043;


}

.resumeHighlights{
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.headerDiv{
    height: 10%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.headerDiv > h1{
    /* font-family: 'Ibarra real Nova'; */
    /* text-decoration: underline; */
    width: 80%;
    text-align: center;
    /* color: grey; */
    font-weight: 300;
    font-size: 25px;
    /* color: rgb(0, 81, 255); */
    color: #3c4043;

}

.resumeHighlightContainer{
    height: 90%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll
}

.resumeHighlightContainer::-webkit-scrollbar{
    display: none;
}


}
@media only screen and (max-width: 350px){

    .about {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(245, 244, 244);
  /* margin-left: 50px; */
  overflow-x: hidden;
  overflow-y: scroll;
}

.about::-webkit-scrollbar{
    display: none;
}

.right{
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactCard{
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactCardTop{
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contactCardTop > img{
    height: auto;
    width: 45%;
    border-radius: 50%;
    transform: rotateZ(-45deg)
}

.contactCardNameDiv{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15px;
}

.contactCardNameDiv > h2{
    font-family: 'Ibarra real Nova';
    font-size: 20px;
    color: #3c4043;
    /* text-decoration: underline; */
    /* color: rgb(0, 81, 255); */
}

.contactCardNameDiv > h1{
    font-family: 'Ibarra real Nova';
    font-size: 26px;
    /* color: grey */
    color: #3c4043;

    /* text-decoration: underline; */
    /* color: rgb(0, 81, 255); */
}

.contactCardNameDiv > button{
    width: 95%;
    height: 35px;
    margin-top: 20px;
    background: rgb(72, 127, 245);
    border: 0;
    font-size: auto;
    color: white;
    /* display: none; */
    border-radius: 5px;
    cursor: pointer;

}

.contactCardBottom{
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-left: 10px; */
    margin-top: 20px;
}

.contactCardBottom > h1{
    /* font-family: 'Ibarra real Nova'; */
    font-size: 25px;
    color: #3c4043;
    font-weight: 300;
    text-decoration: underline;
    /* color: white; */
    /* color: grey; */
}

.contactCardBottom > p{
    width: 95%;
    /* border: 1px solid black; */
    text-align: center;
    /* font-family: 'Ibarra real Nova'; */
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    /* color: grey; */
    color: #3c4043;


}

.resumeHighlights{
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.headerDiv{
    height: 10%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.headerDiv > h1{
    /* font-family: 'Ibarra real Nova'; */
    /* text-decoration: underline; */
    width: 80%;
    text-align: center;
    /* color: grey; */
    font-weight: 300;
    font-size: 25px;
    /* color: rgb(0, 81, 255); */
    color: #3c4043;

}

.resumeHighlightContainer{
    height: 90%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll
}

.resumeHighlightContainer::-webkit-scrollbar{
    display: none;
}

/* .underline{
    width: 60%;
    height: 3px;
    background: black;
    margin-top: 10px;
} */

}