.menu {
  display: none;
}

@media screen and (max-width: 700px) {
  .menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: calc(-100vw - 70px);
    transition: all ease 500ms;
  }

  .menuActive {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    position: fixed;
    right: 0;
    bottom: 0;
    transition: all ease 500ms;
  }

  .menuActive > p {
    color: white;
    font-size: 30px;
    margin-top: 20px;
    transition: all ease 200ms;
    cursor: pointer;
  }

  .menuActive > p:hover {
    text-decoration: underline;
    color: rgb(77, 77, 238);
    transform: scale(1.05);
  }

  .menu > p {
    color: white;
    font-size: 30px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 420px) {
  .menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: calc(-100vw - 50px);
    transition: all ease 500ms;
  }

  .menuActive {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    position: fixed;
    right: 0;
    bottom: 0;
    transition: all ease 500ms;
  }

  .menu > p {
    color: white;
    font-size: 30px;
    margin-top: 20px;
    transition: all ease 200ms;
  }

  .menuActive > p {
    color: white;
    font-size: 30px;
    margin-top: 20px;
    transform: scale(1.05);
    cursor: pointer;
  }

  .menuActive > p:hover {
    text-decoration: underline;
    color: rgb(77, 77, 238);
  }
}
