.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
  background: black;
  z-index: 5;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: rotateY(180deg);
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.right > p {
  height: 100%;
  width: 100px;
  /* border: 1px solid white; */
  cursor: pointer;
  color: white;
  /* font-family: 'COrmorant SC', 'Ibarra Real Nova', poppins, serif; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  transition: ease 200ms all;
}

.right > p:hover {
  border-bottom: 3px solid white;
}

.menu {
  display: none;
}

.menuIcon {
  visibility: hidden;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 700px) {
  .navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    background: black;
    z-index: 5;
  }

  .left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
  }

  .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: rotateY(180deg);
  }

  .right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
  }

  .right > p {
    height: 100%;
    width: 100px;
    /* border: 1px solid white; */
    cursor: pointer;
    color: white;
    /* font-family: 'COrmorant SC', 'Ibarra Real Nova', poppins, serif; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    transition: ease 200ms all;
    display: none;
  }

  .right > p:hover {
    border-bottom: 3px solid white;
  }

  .menu {
    height: 100%;
    /* border: 1px solid white; */
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
    transition: ease 200ms all;
  }

  .menuIcon {
    color: white;
    width: 35px;
    height: 35px;
    visibility:visible;
    transition: all ease 500ms;
  }

  .menuIconActive {
    color: white;
    width: 35px;
    height: 35px;
    visibility:visible;
    transform: rotateZ(180deg);
    transition: all ease 500ms;
  }

}
