.resumecard{
    min-height: 200px;
    height: auto;
    width: 90%;
    margin: 10px 0;
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 1px 1px 10px grey;
    display: flex;
}

.imageDiv{
    height: 100%;
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageDiv > img{
    width: 90%;
    height: auto;
    border-radius: 20px;
}

.roleDiv{
    height: 100%;
    width: 70%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
}

.roleDiv > h1{
    font-size: 13px;
    font-weight: 300;
    color: #3c4043;
}

.roleDiv > h1 > b{
    font-size: 18px;
    color: black;
    color: #3c4043;
    font-weight: 300;
    /* font-family: 'Ibarra real Nova'; */
}

.roleDiv > h2{
    font-size: 13px;
    font-weight: 300;
    color: #3c4043;
}

.roleDiv > h2 > b{
    font-size: 20px;
    color: #3c4043;
    /* font-family: 'Ibarra real Nova'; */
    font-weight: 300;
}

.roleDiv > p{
    font-size: 12px;
    font-weight: 300;
    color: #3c4043;
}

@media only screen and (max-width: 700px){

    .resumecard{
    min-height: 200px;
    height: auto;
    width: 95%;
    margin: 10px 0;
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 1px 1px 10px grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageDiv{
    height: 100%;
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageDiv > img{
    width: 90%;
    height: auto;
    border-radius: 20px;
}

.roleDiv{
    height: 100%;
    width: 70%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
}

.roleDiv > h1{
    font-size: 13px;
    font-weight: 300;
    color: #3c4043;
}

.roleDiv > h1 > b{
    font-size: 18px;
    color: black;
    color: #3c4043;
    font-weight: 500;
    /* font-family: 'Ibarra real Nova'; */
}

.roleDiv > h2{
    font-size: 13px;
    font-weight: 300;
    color: #3c4043;
}

.roleDiv > h2 > b{
    font-size: 20px;
    color: #3c4043;
    /* font-family: 'Ibarra real Nova'; */
    font-weight: 500;
}

.roleDiv > p{
    font-size: 12px;
    font-weight: 300;
    color: #3c4043;
}

}
@media only screen and (max-width: 420px){

    .resumecard{
    min-height: 200px;
    height: auto;
    width: 95%;
    margin: 10px 0;
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 1px 1px 10px grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageDiv{
    height: 100%;
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageDiv > img{
    width: 90%;
    height: auto;
    border-radius: 20px;
}

.roleDiv{
    height: 100%;
    width: 70%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
}

.roleDiv > h1{
    font-size: 13px;
    font-weight: 300;
    color: #3c4043;
}

.roleDiv > h1 > b{
    font-size: 15px;
    color: black;
    color: #3c4043;
    font-weight: 500;
    /* font-family: 'Ibarra real Nova'; */
}

.roleDiv > h2{
    font-size: 13px;
    font-weight: 300;
    color: #3c4043;
}

.roleDiv > h2 > b{
    font-size: 16px;
    color: #3c4043;
    /* font-family: 'Ibarra real Nova'; */
    font-weight: 500;
}

.roleDiv > p{
    font-size: 12px;
    font-weight: 300;
    color: #3c4043;
}

}

