.sidebar {
  width: 70px;
  height: 100%;
  background: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 50px;
}

.sidebar > img{
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
    border-radius: 20px;
    background: rgb(253, 253, 253);
    margin: 20px 0;
    transition: all ease 200ms;
    cursor: pointer;

}

.sidebar > img:hover{
    transform: scale(1.08);
}


@media only screen and (max-width: 420px){

  .sidebar {
  width: 50px;
  height: 100%;
  background: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 50px;
}

.sidebar > img{
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    border-radius: 20px;
    background: rgb(253, 253, 253);
    margin: 15px 0;
    transition: all ease 200ms;
    cursor: pointer;
}

.sidebar > img:hover{
    transform: scale(1.08);
}


}